/* Font style */
/* 001 */
body {
  font-family: 'Roboto', sans-serif;
}

/* Main settings for menus & position installation */
/* 010 */
.menu {
  font-size: 0;
}

/* 010 */
.menu__item {
  display: inline-block;
  position: relative;
  font-size: 1rem;
}

/* 030 */
.menu__item:hover .menu-dropdown {
  display: block;
}

/* 010 */
.menu-dropdown {
  display: none;
  position: absolute;
}

/* Links styles */
/* 010 */
.menu-link,
/* 010 */
.menu-dropdown__link {
  display: block;
  color: aliceblue;
  text-decoration: none;
  padding: 1em;
  background-color: rgb(228, 31, 31);
  white-space: nowrap;
}

/* Link hover style */
/* 020 */
.menu-link:hover,
/* 020 */
.menu-dropdown__link:hover {
  background-color: black;
}
